#form {
    margin-left: 4vw;
}

#buttonRow{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-left: 4vw;
}

#label {
    font-weight: bold;
}

#twoBtn {
    margin-left: 5vw;
}