#table {
    border: none;
    border-collapse: collapse;
    margin-top: 4vh;
    width: 80%;
    margin-left: 2vw;
}

.header {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.data {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    text-align: left;
}

.row:hover {
    cursor: pointer;
    background-color: #d3ffff;
}