#barcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.border-table{ 
    border: none;
}

.modal-data {
    padding-left: 40px;
}